@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

@font-face {
    font-family: 'iconfont';
    src: url("../fonts/iconfont.eot?fszxue");
    src: url("../fonts/iconfont.eot?fszxue#iefix") format("embedded-opentype"), url("../fonts/iconfont.ttf?fszxue") format("truetype"), url("../fonts/iconfont.woff?fszxue") format("woff"), url("../fonts/iconfont.woff2?fszxue") format("woff2"), url("../fonts/iconfont.svg?fszxue#iconfont") format("svg");
    font-weight: normal;
    font-style: normal
}

[class^='icon-'], [class*=' icon-'] {
    font-family: 'iconfont' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}

.icon-cross:before {
    content: "\e912"
}

.icon-grid:before {
    content: "\e913"
}

.icon-globe:before {
    content: "\e914"
}

.icon-globe-2:before {
    content: "\e942"
}

.icon-MUL:before {
    content: "\e94a"
}

.icon-VRL:before {
    content: "\e94b"
}

.icon-IGS:before {
    content: "\e90d"
}

.icon-ENS:before {
    content: "\e90c"
}

.icon-KS:before {
    content: "\e915"
}

.icon-SVC:before {
    content: "\e916"
}

.icon-EAD:before {
    content: "\e917"
}

.icon-SAL:before {
    content: "\e918"
}

.icon-MKS:before {
    content: "\e919"
}

.icon-LGS:before {
    content: "\e91a"
}

.icon-MW:before {
    content: "\e91b"
}

.icon-DHW:before {
    content: "\e900"
}

.icon-GAB:before {
    content: "\e94e"
}

.icon-IND:before {
    content: "\e94f"
}

.icon-DKD:before {
    content: "\e94d"
}

